
<section class="home">

  @if (featuredVideo()) {
    <div class="hero">
      <img
        class="hero-img"
        [src]="featuredVideo()!.thumbnail"
        alt="featured"
      />

      <div class="hero-overlay">
        <span class="badge">Breaking</span>
        <h1 class="hero-title">
          {{ featuredVideo()!.title }}
        </h1>

        <p class="hero-date">
          {{ featuredVideo()!.publishedAt }}
        </p>
      </div>
    </div>
  }

  <!-- 📰 GRID -->
  <section class="news-container">
    @for (video of restVideos(); track video.etag) {
      <app-news-card [video]="video"></app-news-card>
    }
  </section>

</section>
