.home {
  background: #f6f7fb;
  min-height: 100vh;
}


.badge {
  background: #dc2626;
  padding: 6px 12px;
  font-weight: 800;
  font-size: 12px;
  border-radius: 6px;
  width: fit-content;
  margin-bottom: 12px;
}

.news-container {
  width: min(1200px, 92vw);
  margin: auto;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;

}
